*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  text-align: center;
  background: $background;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  min-height: 70px;
  width: auto;
}
