$font-family: "Roboto", sans-serif;
$primary-color: rgb(126, 187, 154);
$secondary-color: rgb(233, 238, 224);
$tertiary-color: rgb(65, 85, 75);
$background-color: rgb(62, 133, 97);
$background: linear-gradient(240deg, rgb(62, 133, 97), rgb(174, 212, 193));
